{%- macro edit(name, field) %}
<div class="control-group">
    {% if field.choices %}
        <label for="form_{{ name }}_id">{{ field.title }}</label>
        {% for key, val in field.choices %}
        <div class="controls">
        <input name="{{ name }}" type="checkbox" id="form_{{ name }}_id"
            value="{{ key }}"
            {% if key in field.value %}checked{% endif %}
        /> {{ val }}
        {% if field.errors %}<span class="help-inline">{{ field.errors|join(', ') }}</span>{% endif %}
        {% if field.description %}<span class="help-block">{{ field.description }}</span>{% endif %}
        </div>
        {% endfor %}
    {% else %}
        <input name="{{ name }}" type="checkbox" id="form_{{ name }}_id"
             value="yes" /> {{ field.title }}
        {% if field.errors %}<span class="help-inline">{{ field.errors|join(', ') }}</span>{% endif %}
        {% if field.description %}<span class="help-block">{{ field.description }}</span>{% endif %}
    {% endif %}
</div>
{%- endmacro %}
