{%- macro view(name, field) %}
  <h3>{{ name }}</h3>
  <p>{{ field.value }}</p>
{%- endmacro %}

{%- macro edit(name, field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label for="form_{{ name }}_id">{{ field.title }}</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input name="{{ name }}" type="email" id="form_{{ name }}_id"
           value="{{ field.value or field.empty }}" {% if field.required %}required{% endif %}
           placeholder="{{ field.placeholder }}"
           {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
           {% if field.autofocus %}autofocus{% endif %} />
      </div>
    {% if field.errors %}<span class="help-inline">{{ field.errors|join(', ') }}</span>{% endif %}
    {% if field.description %}<span class="help-block">{{ field.description }}</span>{% endif %}
    </div>
</div>
{%- endmacro %}
