 {%- macro view(field, name) %}
  <h3>{{ name }}</h3>
  <p>{{ field.value }}</p>
{%- endmacro %}

{%- macro edit(field, name) %}
<div class="control-group">
    <label for="form_{{ name }}_id">{{ field.title }}</label>
    <div class="controls">
    <input name="{{ name }}" type="{{ field.type }}" id="form_{{ name }}_id"
         value="{{ field.value or field.empty }}" {% if field.required %}required{% endif %}
         placeholder="{{ field.placeholder }}"
         {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
         {% if field.autofocus %}autofocus{% endif %} />
    </div>
</div>
{%- endmacro %}
