{%- macro view(name, field, prefix) %}
  <h3>{{ name }}</h3>
  <p>{{ field.value }}</p>
{%- endmacro %}

{%- macro edit(name, field, prefix) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label for="form_{{ name }}_id">{{ field.title }}</label>
    <div class="controls">
      <input name="{{ prefix }}{{ name }}" type="{{ field.type }}" id="form_{{ name }}_id"
         value="{{ field.value or field.empty }}" {% if field.required %}required{% endif %}
         placeholder="{{ field.placeholder }}"
         {% if field.locked %}readonly="on"{%endif%}
         {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
         {% if field.autofocus %}autofocus{% endif %} />
    {% if field.errors %}<span class="help-inline">{{ field.errors|join(', ') }}</span>{% endif %}
    {% if field.description %}<span class="help-block">{{ field.description }}</span>{% endif %}
    </div>
</div>
{%- endmacro %}
